<h1>List of tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <% if task.completed %>
      <li><i class="far fa-check-square"></i> <%= task.title %></li>
    <% else  %>
      <li><i class="far fa-square"></i> <%= task.title %></li>
    <% end %>
  <% end %>
</ul>

