<div class="container m-4">
  <div class="d-flex align-items-center justify-content-between">
    <h1><%= @task.title %> </h1>
    <%= link_to 'Edit task', tasks_edit_path, class: "btn btn-primary" %>
  </div>
  <hr>

  <p class="alert alert-secondary "><%= @task.details %></p>
  <% if @task.completed %>
    <p class="font-weight-bold"><i class="far fa-check-square"></i> This task is completed</p>
  <% else %>
    <p class="font-weight-bold"><i class="far fa-square"></i> This task is not completed</p>
  <% end %>

  <i class="fas fa-history"></i> <%= link_to 'Back to list', tasks_path  %>
</div>

